[access]
	inheritFrom = All-Projects
[receive]
[submit]
	action = cherry pick
[access "refs/*"]
	owner = group Administrators
	label-Code-Review = -2..+2 group Qt Webchannel
	label-Sanity-Review = -2..+1 group Qt Webchannel
[project]
	description = QWebchannel
	state = active
[cherryPick]
	includeReviewedOn = true
[cherryPick "categoryFooters"]
	Sanity-Review = true
[cherryPick "labelFooters"]
	Sanity-Review = true
